*{
    box-sizing: border-box;
}
:root{
    --bg:rgb(255, 255, 255);
    --bg-color: gainsboro;
    --bg-color-alt:#30475E;
    --text-color: #222831;
    --text-color-alt:#DDDDDD;
    --second-color:#F05454;
    --third-color:#8FE3CF;
    --third-color:#5C8374;
    --shadow: 6px 3px 5px #ffffff;
}
body{
    font-family: "Overpass Mono", "IBM Plex Mono", JetBrains Mono, "Slabo13px-Regular", 'Courier New', "Cascadia Code", Consolas, "Inconsolata", Fira Code, monospace;
    
}

.title{
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--second-color);
    color: var(--bg-color-alt);
    border-radius: 10px;


}
.board{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}
.todoContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
    /* border: var(--second-color) 1px solid; */
    /* border-radius: 12px; */

}

.status{
    width: 25%;
    margin: 5px;
    position: relative;
    padding: 60px 1rem 0.5rem;
    background-color: var(--bg-color);
    border-radius: 10px;
    position: relative;
    border: .5px solid var(--third-color);


}

.status:nth-child(even){
    background-color: var(--bg);
}

.status h1{
    position: absolute;
    margin: -1px 0px 0px 0px;
    padding: 5px 5px;
    top: 0;
    left: 0;
    width: 100%;
    font-size: larger;
    font-size: 24px;
    text-align: center;
    background-color: var(--bg-color-alt);
    color: var(--text-color-alt);
    border-radius: 10px;

}


#addBtn{
    /* position: relative; */
    padding: .5rem 3rem;
    outline: none;
    /* border: none; */
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;

}

#addBtn:hover{
    background-color: var(--third-color);
}

.todo{
    /* position: relative; */
    margin: 10px 0;
    padding: .5rem .5rem;
    outline: none;
    /* border: none; */
    width: 100%;
    background-color: var(--bg-color-alt);
    color: var(--text-color-alt);
    box-shadow: var(--shadow);
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.todo .close{
    font-size:x-large;
    position: absolute;
    right: 30px;
    cursor: pointer;
    
}

.todo .close:hover{
    color: var(--second-color);
}